*{
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-view{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.large-image{
    width: 90%;
    height: 70%;

}
#large{
    width: 100%;
    height: 100%;
    border-radius: 18px;

}
.thumbnails{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnails img{
    width: 22%;
    height: 80%;
    padding: 6px;
    border-radius: 18px;

}
.thumbnails img:hover{
    opacity: .6;
}